# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
npm-debug.log
.idea
.eslintrc

src/assets/app.css

# semantic ui based theme (less)
src/assets/semantic/*

# Ignore ESLint file
.eslintrc

.env
.env.bak

.env.local

package-lock.json
*.js.map

# ignore vscode folder
.vscode

Env.txt