image: awscli:custom

variables:
  CI: "false"

stages:
  - build
  - deploy
  
#Building code
building-code-issues:
  cache:
    paths:
    - node_modules/
   tags:
    - ns-client
  stage: build
  script:
    - echo "current branch = ${CI_COMMIT_REF_NAME}"
  artifacts:
    paths:
    - build/
    expire_in: 1 day


#---------------------------------Dev-------------------------------------------

#Building code
building-code-dev:
  cache:
    paths:
    - node_modules/
  only:
    refs:
      - develop
  tags:
    - ns-client
  stage: build
  script:
    - bash scripts/setEnvironmentVariables.sh us-east-1 dev
    - npm install
    - npm run build
  artifacts:
    paths:
    - build/
    expire_in: 1 day

#Deploying code to s3 bucket
deploying-code-dev:
  only:
    refs:
      - develop
  environment:
    name: dev
  tags:
    - ns-client
  stage: deploy
  script: 
    - echo "deploy to s3 bucket"
    - aws s3 cp build/ s3://ns-client-dev/ --recursive
  dependencies:
    - building-code-dev

#---------------------------------Qa--------------------------------------------

#Building code
building-code-qa:
  cache:
    paths:
    - node_modules/
  only:
    refs:
      - qa
  tags:
    - ns-client
  stage: build
  script: 
    - bash scripts/setEnvironmentVariables.sh us-east-1 qa
    - npm install
    - npm run build
  artifacts:
    paths:
    - build/
    expire_in: 1 day

#Deploying code to s3 bucket
deploying-code-qa:
  only:
    refs:
      - qa
  environment:
    name: qa
  tags:
    - ns-client
  stage: deploy
  script: 
    - echo "deploy to s3 bucket"
    - aws s3 cp build/ s3://ns-client-qa/ --recursive
  dependencies:
    - building-code-qa

#---------------------------------Production------------------------------------

#Building code
building-code-prod:
  cache:
    paths:
    - node_modules/
  only:
    refs:
      - master
  tags:
    - ns-client
  stage: build
  script: 
    - bash scripts/setEnvironmentVariables.sh us-east-1 prod
    - npm install
    - npm run build
  artifacts:
    paths:
    - build/
    expire_in: 1 day

#Deploying code to s3 bucket
deploying-code-prod:
  only:
    refs:
      - master
  environment:
    name: production
  tags:
    - ns-client
  stage: deploy
  script: 
    - echo "deploy to s3 bucket"
    - aws s3 cp build/ s3://ns-client-prod/ --recursive
  dependencies:
    - building-code-prod