image: awscli:custom

variables:
  CI: "false"

stages:
  - build
  - deploy
  - cleanup
#---------------------------------Anchors--------------------------------------
.build_template: &build_definition
  tags:
    - ns-client
  stage: build
  artifacts:
    paths:
    - build/
    expire_in: 1 day

.deploy_template: &deploy_defination
  tags:
    - ns-client
  stage: deploy

.review_template: &review_defination
  only:
    refs:
      - branches
  except:
    - master
    - develop
    - qa
  tags:
    - ns-client

.before_script_template: &before_script_defination
  before_script:
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2FsetEnvironmentVariables%2Esh/raw?ref=$BRANCH > setEnvironmentVariables.sh"
    
    
#---------------------------------Review----------------------------------------  
#Building code
build:review:
  <<: *build_definition
  <<: *review_defination
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - node_modules/
  <<: *before_script_defination
  script:
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2Fs3BucketCreationScript%2Esh/raw?ref=$BRANCH > s3BucketCreationScript.sh"
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2Fs3PublicReadAccessPolicy%2Ejson/raw?ref=$BRANCH > s3PublicReadAccessPolicy.json"
    - sh s3BucketCreationScript.sh $CI_COMMIT_REF_SLUG $REGION
    - sh setEnvironmentVariables.sh $REGION dev $CI_COMMIT_REF_NAME
    - npm install
    - npm run build 
  
#Deploying code to s3 bucket
deploy:review:
  <<: *review_defination
  stage: deploy
  environment:
    name: $CI_COMMIT_REF_NAME
    url: http://$CI_COMMIT_REF_SLUG.s3-website-$REGION.amazonaws.com
    on_stop: delete:review
  script: 
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2FdeployApp%2Esh/raw?ref=$BRANCH > deployApp.sh"
    - sh deployApp.sh $CI_COMMIT_REF_SLUG
  dependencies:
    - build:review

#Deleting S3 bucket
delete:review:
  <<: *review_defination
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - aws s3 rb s3://$CI_COMMIT_REF_SLUG --force  
  when: manual
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop
  dependencies: []
 
#---------------------------------Dev-------------------------------------------

#Building code
build:dev:
  <<: *build_definition
  only:
    refs:
      - develop
  <<: *before_script_defination
  script:
    - sh setEnvironmentVariables.sh $REGION dev $CI_COMMIT_REF_NAME
    - npm install
    - npm run build
#Deploying code to s3 bucket
deploy:dev:
  <<: *deploy_defination
  only:
    refs:
      - develop
  environment:
    name: dev
    url: http://$DEV_URL
  script: 
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2FdeployApp%2Esh/raw?ref=$BRANCH > deployApp.sh"
    - sh deployApp.sh $DEV_URL
  dependencies:
    - build:dev



#---------------------------------Qa--------------------------------------------

#Building code
build:qa:
  <<: *build_definition
  only:
    refs:
      - qa
  <<: *before_script_defination
  script:
    - sh setEnvironmentVariables.sh $REGION qa $CI_COMMIT_REF_NAME
    - npm install
    - npm run build  

#Deploying code to s3 bucket
deploy:qa:
  <<: *deploy_defination
  only:
    refs:
      - qa
  environment:
    name: qa
    url: http://$QA_URL
  script: 
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2FdeployApp%2Esh/raw?ref=$BRANCH > deployApp.sh"
    - sh deployApp.sh $QA_URL
  dependencies:
    - build:qa

#---------------------------------Production------------------------------------

#Building code
build:prod:
  <<: *build_definition
  only:
    refs:
      - master
  <<: *before_script_defination
  script: 
    - sh setEnvironmentVariables.sh $REGION prod $CI_COMMIT_REF_NAME
    - npm install
    - npm run build
#Deploying code to s3 bucket
deploy:prod:
  <<: *deploy_defination
  only:
    refs:
      - master
  environment:
    name: prod
    url: http://$PROD_URL
  script: 
    - "curl --request GET --header 'PRIVATE-TOKEN: '$PRIVATE_TOKEN $GITLAB_API_URL/$PROJECT_ID/repository/files/cicd%2FdeployApp%2Esh/raw?ref=$BRANCH > deployApp.sh"
    - sh deployApp.sh ns-client-prod
  dependencies:
    - build:prod
