image: awscli:custom

variables:
  CI: "false"

stages:
  - build
  - deploy
  - cleanup
#---------------------------------Anchors--------------------------------------
.build_template: &build_definition
  tags:
    - ns-client
  stage: build
  artifacts:
    paths:
    - build/
    expire_in: 1 day

.deploy_template: &deploy_defination
  tags:
    - ns-client
  stage: deploy

.review_template: &review_defination
  only:
    refs:
      - branches
  except:
    - master
    - develop
    - qa
  tags:
    - ns-client
#---------------------------------Review----------------------------------------  
#Building code
build:review:
  <<: *build_definition
  <<: *review_defination
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules/
  script:
    - sh scripts/cicd/s3BucketCreationScript.sh ${CI_COMMIT_REF_SLUG} $REGION
    - sh scripts/cicd/setEnvironmentVariables.sh $REGION dev
    - npm install
    - npm run build 

#Deploying code to s3 bucket
deploy:review:
  <<: *review_defination
  stage: deploy
  environment:
    name: $CI_COMMIT_REF_NAME
    url: http://$CI_COMMIT_REF_SLUG.s3-website-$REGION.amazonaws.com
    on_stop: delete:review
  script: 
    - echo "deploy to s3 bucket"
    - aws s3 cp build/ s3://${CI_COMMIT_REF_SLUG}/ --recursive
  dependencies:
    - build:review

#Deleting S3 bucket
delete:review:
  <<: *review_defination
  stage: deploy
  variables:
    GIT_STRATEGY: none
  script:
    - chmod +x scripts/cicd/emptyBucket.py 
    - python scripts/cicd/emptyBucket.py -b ${CI_COMMIT_REF_SLUG}
    - aws s3api delete-bucket --bucket ${CI_COMMIT_REF_SLUG} --region $REGION
  when: manual
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop
 
#---------------------------------Dev-------------------------------------------

#Building code
build:dev:
  <<: *build_definition
  only:
    refs:
      - develop
  script:
    - sh scripts/cicd/setEnvironmentVariables.sh $REGION dev
    - npm install
    - npm run build

#Deploying code to s3 bucket
deploy:dev:
  <<: *deploy_defination
  only:
    refs:
      - develop
  environment:
    name: dev
    url: http://$DEV_URL
  script: 
    - echo "deploy to s3 bucket."
    - aws s3 cp build/ s3://$DEV_URL/ --recursive
  dependencies:
    - build:dev

#---------------------------------Qa--------------------------------------------

#Building code
build:qa:
  <<: *build_definition
  only:
    refs:
      - qa
  script: 
    - sh scripts/cicd/setEnvironmentVariables.sh $REGION qa
    - npm install
    - npm run build

#Deploying code to s3 bucket
deploy:qa:
  <<: *deploy_defination
  only:
    refs:
      - qa
  environment:
    name: qa
    url: http://$QA_URL
  script: 
    - echo "deploy to s3 bucket"
    - aws s3 cp build/ s3://$QA_URL/ --recursive
  dependencies:
    - build:qa

#---------------------------------Production------------------------------------

#Building code
build:prod:
  <<: *build_definition
  only:
    refs:
      - master
  script: 
    - sh scripts/cicd/setEnvironmentVariables.sh $REGION prod
    - npm install
    - npm run build
#Deploying code to s3 bucket
deploy:prod:
  <<: *deploy_defination
  only:
    refs:
      - master
  environment:
    name: prod
    url: http://$PROD_URL
  script: 
    - echo "deploy to s3 bucket"
    - aws s3 cp build/ s3://ns-client-prod/ --recursive
  dependencies:
    - build:prod