/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'nextseed';
@reset       : 'nextseed';

/* Elements */
@button      : 'nextseed';
@container   : 'nextseed';
@divider     : 'nextseed';
@flag        : 'nextseed';
@header      : 'nextseed';
@icon        : 'nextseed';
@image       : 'nextseed';
@input       : 'nextseed';
@label       : 'nextseed';
@list        : 'nextseed';
@loader      : 'nextseed';
@placeholder : 'nextseed';
@rail        : 'nextseed';
@reveal      : 'nextseed';
@segment     : 'nextseed';
@step        : 'nextseed';

/* Collections */
@breadcrumb  : 'nextseed';
@form        : 'nextseed';
@grid        : 'nextseed';
@menu        : 'nextseed';
@message     : 'nextseed';
@table       : 'nextseed';

/* Modules */
@accordion   : 'nextseed';
@checkbox    : 'nextseed';
@dimmer      : 'nextseed';
@dropdown    : 'nextseed';
@embed       : 'nextseed';
@modal       : 'nextseed';
@nag         : 'nextseed';
@popup       : 'nextseed';
@progress    : 'nextseed';
@rating      : 'nextseed';
@search      : 'nextseed';
@shape       : 'nextseed';
@sidebar     : 'nextseed';
@sticky      : 'nextseed';
@tab         : 'nextseed';
@transition  : 'nextseed';

/* Views */
@ad          : 'nextseed';
@card        : 'nextseed';
@comment     : 'nextseed';
@feed        : 'nextseed';
@item        : 'nextseed';
@statistic   : 'nextseed';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */
