
.header-wrap{
	height:58px;
	.ui.menu{
		box-shadow:0px 0px 5px rgba($text-primary, 0.08);
		&.large{
			font-size:1rem;
		}
		.menu .item{
			font-weight:700;
			color:$text-primary;
			padding:0.92857143em 2.285714285714286em;
			&.active{
				color:$text-secondary;
				background-color:lighten($primary-color, 7%);
			}
		}
		.ui.dropdown{
			.menu{
				>.item{
					font-weight:700 !important;
					padding:0.78571429em 2.285714285714286em !important;
				}
			}
		}
	}
}
.content-wrapper{
	min-height:calc(100vh - 58px);
}
.content{
	min-height:calc(100vh - 342px);
}
.ui.segment.vertical{
	&.content{
		padding:50px 0;
	}
}
.content-spacer{
	padding:3.21em 4.28em;
}
.webcontent-spacer{
	padding:2.428571em 5em 0 !important;
}

div.login-form {
	height: 100%;
	.column{
		max-width:450px;
	}
	h1.header{
		margin-bottom:1.5em;
	}
	ul.error-messages{
		list-style-type:none;
		padding:0;
		text-align:left;
	}
}


// 	Sidebar pushable CSS
.pushable{
	>.sidebar{
		~ .pusher{
			padding-left:64px;
			transition:all .5s ease;
			height:calc(100vh - 58px);
			overflow-y:auto;
			.ui.vertical.segment{
				&.content{
					padding:0;
				}
			}
		}
	}
}
.ui{
	&.inverted{
		&.menu{
			background:#383838;
		}
	}
	&.sidebar{
		&.left{
			&.visible.thin{
				~.fixed, ~.pusher{
					padding-left:220px;
					transform:translate3D(0,0,0);
				}
			}
			&.push{
				width:64px;
				visibility:visible;
				transform:translate3D(0,0,0);
				transition:width .5s ease;
				.item {
					min-width: auto !important;
					text-align: left;
					overflow:hidden;
					padding:1em 1.5em;
					color:$light-header;
					&:first-child:before, &:before{
						display:none;
						background:none;
					}
					>.icon:not(.dropdown){
						float:left;
						height:auto;
						margin:0 !important;
						font-size:1.14285714em !important;
						line-height:22px;
						position:relative;
					}
					span{
						opacity:0;
						display:block;
						line-height:22px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
					&.collapseIcon{
						bottom:0;
						margin:0;
						&:before{
							display:none;
						}
					}
					&.active{
						background:transparent;
						color:$active-primary-link !important;
						> i.icon:after{
							content:"";
							width:6px;
							height:6px;
							border-radius:3px;
							display:block;
							background:$active-primary-link;
							position:absolute;
							left:50%;
							margin-left:-2px;
							bottom:-9px;
						}
					}
				}
			}
		}
		&.visible.push{
			width:220px;
			.item span{
				opacity:1;
				margin-left:35px;
				max-width:153px;
			}
		}
	}
}

//	Admin Page Content Styles
.page-header-section{
	min-height:132px;
	background-color:$dark-header;
	h3{
		color:$text-secondary;
		font-size: 2.142857em;
		font-weight: bold;
	}
	.ui.grid .userDetailsLinks a{
		color: #7D7D7D;
		text-transform: uppercase;
		margin-right: 29px;
		font-size: 0.8em;
		&:hover, &.active{
			color:$text-secondary;
		}
	}
}

//	Web Footer Style
.ui.segment,
.ui.primary.segment{
	&.inverted{
		&.footer{
			padding:2em;
			background-color:$dark-sidebar;
		}
	}
}
.footer{
	.ui.header{
		font-weight:400;
	}
}

