
.header-wrap{
	height:58px;
}
.content-wrapper{
	min-height:calc(100vh - 58px);
}
.content{
	min-height:calc(100vh - 342px);
}
.content-spacer{
	padding:45px 60px;
}
// 	Sidebar pushable CSS
.pushable{
	>.sidebar{
		~ .pusher{
			padding-left:68px;
			transition:all .5s ease;
			height:calc(100vh - 58px);
			overflow-y:auto;
		}
	}
}
.ui{
	&.inverted{
		&.menu{
			background:#383838;
		}
	}
	&.sidebar{
		&.left{
			&.visible.thin{
				~.fixed, ~.pusher{
					padding-left:220px;
					transform:translate3D(0,0,0);
				}
			}
			&.push{
				width:68px;
				visibility:visible;
				transform:translate3D(0,0,0);
				transition:all .5s ease;
				.item {
					min-width: auto !important;
					text-align: left;
					overflow:hidden;
					>.icon:not(.dropdown){
						float:left;
						margin:0 !important;
					}
					span{
						opacity:0;
						display:block;
						line-height:24px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
					&.collapseIcon{
						bottom:0;
						margin:0;
						&:before{
							display:none;
						}
					}
				}
			}
		}
		&.visible.push{
			width:220px;
			.item span{
				opacity:1;
				margin-left:35px;
				max-width:153px;
			}
		}
	}
}

