
.header-wrap{
	height:58px;
	.ui.menu{
		box-shadow:0px 0px 5px rgba($text-primary, 0.08);
		&.large{
			font-size:1rem;
		}
		.item{
			font-weight:700;
			color:$text-primary;
			padding:0.92857143em 2.285714285714286em;
			&.active{
				color:$text-secondary;
				background-color:lighten($primary-color, 7%);
			}
		}
		.ui.dropdown{
			.menu{
				>.item{
					font-weight:700 !important;
					padding:0.78571429em 2.285714285714286em !important;
				}
			}
		}
	}
}
.content-wrapper{
	min-height:calc(100vh - 58px);
}
.content{
	min-height:calc(100vh - 342px);
	padding:50px 0 !important;
}
.content-spacer{
	padding:3.21em 4.28em;
}
.webcontent-spacer{
	padding:2em !important;
}



// 	Sidebar pushable CSS
.pushable{
	>.sidebar{
		~ .pusher{
			padding-left:68px;
			transition:all .5s ease;
			height:calc(100vh - 58px);
			overflow-y:auto;
		}
	}
}
.ui{
	&.inverted{
		&.menu{
			background:#383838;
		}
	}
	&.sidebar{
		&.left{
			&.visible.thin{
				~.fixed, ~.pusher{
					padding-left:220px;
					transform:translate3D(0,0,0);
				}
			}
			&.push{
				width:68px;
				visibility:visible;
				transform:translate3D(0,0,0);
				transition:all .5s ease;
				.item {
					min-width: auto !important;
					text-align: left;
					overflow:hidden;
					>.icon:not(.dropdown){
						float:left;
						margin:0 !important;
					}
					span{
						opacity:0;
						display:block;
						line-height:24px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
					&.collapseIcon{
						bottom:0;
						margin:0;
						&:before{
							display:none;
						}
					}
				}
			}
		}
		&.visible.push{
			width:220px;
			.item span{
				opacity:1;
				margin-left:35px;
				max-width:153px;
			}
		}
	}
}

//	Admin Page Content Styles
.page-header-section{
	min-height:80px;
	background-color:$dark-header;
}

//	Web Footer Style
.ui.segment,
.ui.primary.segment{
	&.inverted{
		&.footer{
			padding:2em;
			background-color:$dark-sidebar;
		}
	}
}

