$primary-color:#85b02b;
$secondary-color:#5c6b87;

$primary-dark:#262626;
$dark-sidebar:lighten($primary-dark, 7%);					//  #383838
$dark-header:lighten($primary-dark, 11%);					//  #424242
$lighten-header:lighten($primary-dark, 16%);				//  #4F4F4F

