/*.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
	margin-top: 7em;
}*/

/*  Layout Styles */
html{
	padding:0;
}
.header-wrap{
	height:58px;
}
.content-wrapper{
	min-height:calc(100vh - 58px);
}
/*.sidebar + .content-wrapper{
	margin:0 0 0 68px;
}*/
.content{
	min-height:calc(100vh - 342px);
}
.ui.inverted.menu{
	background:#383838;
}
.pushable>.pusher{
	padding-left:68px;
	transition:all .5s ease;
}
.ui.visible.thin.left.sidebar~.fixed,
.ui.visible.thin.left.sidebar~.pusher{
	padding-left:220px;
	transform:translate3D(0,0,0);
}
.ui.segment.pushable{
	margin:0;
}
.ui.left.push.sidebar{
	width:68px;
	visibility:visible;
	transform:translate3D(0,0,0);
	transition:all .5s ease;
}
.ui.left.push.sidebar .item {
	min-width: auto !important;
	text-align: left;
	overflow:hidden;
}
.ui.left.push.sidebar .item>.icon:not(.dropdown){
	float:left;
	margin:0 !important;
}
.ui.left.push.sidebar .item span{
	opacity:0;
	display:block;
	line-height:24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.ui.visible.push.sidebar{
	width:220px;
}
.ui.visible.push.sidebar .item span{
	opacity:1;
	margin-left:35px;
	max-width:153px;
}










.nsgreen {
	color: #85b02b;
}

/*	Button Styles 	*/
.ui.green.button,
.ui.green.buttons .button{
	background-color:#85b02b;
}
.ui.green.button:hover,
.ui.green.buttons .button:hover,
.ui.green.button:active,
.ui.green.buttons .button:active,
.ui.green.button:focus,
.ui.green.buttons .button:focus{
	background-color:#79a321;
}

.edgar-form .ui.form{
	padding-top:50px;
	padding-bottom:50px;
}
.edgar-form .ui.form .field{
	margin:0em;
}
.edgar-form .ui.form .field>label{
	margin: 0 0 1rem;
}
.edgar-form .ui.checkbox{
	margin-bottom: .1rem;
}
.edgar-form .form-footer{
	text-align: center;
	padding-bottom:20px;
}
