.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
	margin-top: 7em;
}

/*  Layout Styles */
html{
	padding:0;
}
.header-wrap{
	height:58px;
}
.content{
	min-height:calc(100vh - 392px);
}

.nsgreen {
	color: #85b02b;
}

/*	Button Styles 	*/
.ui.green.button,
.ui.green.buttons .button{
	background-color:#85b02b;
}
.ui.green.button:hover,
.ui.green.buttons .button:hover,
.ui.green.button:active,
.ui.green.buttons .button:active,
.ui.green.button:focus,
.ui.green.buttons .button:focus{
	background-color:#79a321;
}

.edgar-form .ui.form{
	padding-top:50px;
	padding-bottom:50px;
}
.edgar-form .ui.form .field{
	margin: 0 0 2em;
}
.edgar-form .ui.form .field>label{
	margin: 0 0 1rem;
}
.edgar-form .ui.checkbox{
	margin-bottom: .1rem;
}
.edgar-form .form-footer{
	text-align: center;
	padding-bottom:20px;
}
