.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  margin-top: 7em;
}

.edgar-form .ui.form{
  padding-top:50px;
  padding-bottom:50px;
}
.edgar-form .ui.form .field{
  margin: 0 0 2em;
}
.edgar-form .ui.form .field>label{
  margin: 0 0 1rem;
}
.edgar-form .ui.checkbox{
  margin-bottom: .1rem;
}
.edgar-form .form-footer{
  text-align: center;
  padding-bottom:20px;
}
