/*  Layout Styles */

.nsgreen {
	color: #85b02b;
}

/* .edgar-form .ui.form .field{
	margin:0em;
}
.edgar-form .ui.form .field>label{
	margin: 0 0 1rem;
}
.edgar-form .ui.checkbox{
	margin-bottom: .1rem;
}
.edgar-form .form-footer{
	text-align: center;
	padding-bottom:20px;
} */

/* .header-section .ui.grid {
	padding-left: 20px;
	padding-top: 5px;
} */

.recharts-wrapper tspan {
  font-size: 18px;
  font-weight: bold;
}

.chartLegends li {
	font-size: 30px;
}

.chartLegends li span {
	font-size: 16px;
	color: #000;
}